In [27]:
import numpy as np
import torch

In [2]:
a = '123122131232.3123'
a.index('.') == len(a) - 4 - 1

True

In [3]:
import pandas as pd

In [4]:
a = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=['a', 'b', 'c'])
a

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
a.loc[[0, 2], 'd'] = 1

In [6]:
a = pd.DataFrame()
b = pd.DataFrame([[1,2,'c'], [4,5,'a'], [7,8,'b']], columns=['a', 'b', 'c'])
pd.concat([a, b])

   a  b  c
0  1  2  c
1  4  5  a
2  7  8  b

In [7]:
1 == b.index.values[1]

True

In [8]:
a = 'dsf'
np.array([*a])

array(['d', 's', 'f'], dtype='<U1')

In [9]:
b

   a  b  c
0  1  2  c
1  4  5  a
2  7  8  b

In [10]:
b.iloc[0:1]

   a  b  c
0  1  2  c

In [11]:
k = np.array([])
k.shape

(0,)

In [12]:
import os
import random
import string
import time

In [13]:
''.join(random.sample(string.ascii_letters, 8))

'suTRFyfV'

In [14]:
import glob
import shutil
from datetime import datetime
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
import re

In [16]:
line = "Cats are smarter than dogs"
# .* 表示任意匹配除换行符（\n、\r）之外的任何单个或多个字符
# (.*?) 表示"非贪婪"模式，只保存第一个匹配到的子串
matchObj = re.match( r'(.*) are (.*?) .*', line, re.M|re.I)
 
if matchObj:
    print ("matchObj.group() : ", matchObj.group())
    print ("matchObj.group(1) : ", matchObj.group(1))
    print ("matchObj.group(2) : ", matchObj.group(2))
else:
    print ("No match!!")

matchObj.group() :  Cats are smarter than dogs
matchObj.group(1) :  Cats
matchObj.group(2) :  smarter

In [17]:
line = "Cats are smarter than dogs"
# .* 表示任意匹配除换行符（\n、\r）之外的任何单个或多个字符
# (.*?) 表示"非贪婪"模式，只保存第一个匹配到的子串
matchObj = re.match( r'(.*) are (.*) .*', line, re.M|re.I)
 
if matchObj:
    print ("matchObj.group() : ", matchObj.group())
    print ("matchObj.group(1) : ", matchObj.group(1))
    print ("matchObj.group(2) : ", matchObj.group(2))
else:
    print ("No match!!")

matchObj.group() :  Cats are smarter than dogs
matchObj.group(1) :  Cats
matchObj.group(2) :  smarter than

In [18]:
re.search(r'xgb_model_day_heat(.*?)(\d*)\.json', 'xgb_model_day_heat_v2.json').group(2)

'2'

In [19]:
a = ['', '1', '2', '10', '5']
sorted(a)

['', '1', '10', '2', '5']

In [20]:
class RevealAccess:
    """A data descriptor that sets and returns values
       normally and prints a message logging their access.
    """

    def __init__(self, initval=None, name='var'):
        self.val = initval
        self.name = name

    def __get__(self, obj, objtype):
        print('Retrieving', self.name)
        return self.val

    def __set__(self, obj, val):
        print('Updating', self.name)
        self.val = val

In [21]:
class tt:
    r = RevealAccess(10, 'sdf')

In [22]:
x = tt()
x.r = 100
print(x.r)

Updating sdf
Retrieving sdf
100

In [23]:
class Integer:
    def __init__(self, name):
        self.name = name

    def __get__(self, instance, cls):
        print('getting', instance)
        print(cls)
        if instance is None:
            return self
        else:
            return instance.__dict__[self.name]

    def __set__(self, instance, value):
        print(instance)
        if not isinstance(value, int):
            raise TypeError('Expected an int')
        instance.__dict__[self.name] = value

    def __delete__(self, instance):
        del instance.__dict__[self.name]

class Point:
    x = Integer('x')
    y = Integer('y')

    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def ak(self, a):
        print(self, a)

In [24]:
p = Point(2, 3)

<__main__.Point object at 0x000002C50700CB50>
<__main__.Point object at 0x000002C50700CB50>

In [25]:
p.x

getting <__main__.Point object at 0x000002C50700CB50>
<class '__main__.Point'>

2

In [26]:
l = Point.ak
l(p, 3)

<__main__.Point object at 0x000002C50700CB50> 3