In [1]:
import numpy as np

In [6]:
a = '123122131232.3123'
a.index('.') == len(a) - 4 - 1

True

In [12]:
number_length_min=(10, 3, 3, 2, 4, 6)
float_places=(4, 2, 2, 1, 1, 2)
res = ["22.222222"]
for i in range(1):
    current = res[i]
    if '.' not in current:
        if len(current) < number_length_min[i] and status_code < 5:
            pass
        else:
            # 对小数点进行补偿
            temp = current[:-float_places[i]] + '.' + current[-float_places[i]:]
            res[i] = temp
    else:
        # 检验小数点个数是否合法
        point_counts = current.count('.')
        if point_counts > 1 or (point_counts == 1 and current.index('.') != (len(current) - float_places[i] - 1)):
            # 对小数点进行修正
            temp = current.replace('.', '')
            temp = temp[:-float_places[i]] + '.' + temp[-float_places[i]:]
            res[i] = temp

        elif len(current) - 1 < number_length_min[i] and status_code < 4:
            pass
res

['2222.2222']

In [13]:
import pandas as pd

In [19]:
a = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=['a', 'b', 'c'])
a

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
a.loc[[0, 2], 'd'] = 1

In [27]:
a = pd.DataFrame()
b = pd.DataFrame([[1,2,'c'], [4,5,'a'], [7,8,'b']], columns=['a', 'b', 'c'])
pd.concat([a, b])

   a  b  c
0  1  2  c
1  4  5  a
2  7  8  b

In [41]:
%%timeit
''.join(np.array(['s', 'a']))

1.93 µs ± 41.4 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [42]:
%%timeit
''.join(['s', 'a'])

93.2 ns ± 0.668 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [44]:
%%timeit
b['c'].tolist()

1.86 µs ± 16.3 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [45]:
%%timeit
b['c'].values

2.05 µs ± 53.4 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [52]:
1 == b.index.values[1]

True

In [53]:
a = 'dsf'
np.array([*a])

array(['d', 's', 'f'], dtype='<U1')

In [54]:
b

   a  b  c
0  1  2  c
1  4  5  a
2  7  8  b

In [68]:
%%timeit
(b['a'] >= 1).any()

77.2 µs ± 1.71 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [69]:
number_length_min=(10, 3, 3, 2, 4, 6)
float_places=(4, 2, 2, 1, 1, 2)
res = ["2222220.2298"]
i = 0
current = res[0]
if i == 0 and (len(current) - 1 > number_length_min[i]):
    drop_idx, cs = [6], ''
    for idx in range(len(current)):
        if idx in drop_idx:
            continue
        cs += current[idx]
    res[i] = cs
res

['222222.2298']

In [70]:
b

   a  b  c
0  1  2  c
1  4  5  a
2  7  8  b

In [75]:
b.iloc[0:1]

   a  b  c
0  1  2  c

In [76]:
k = np.array([])
k.shape

(0,)

In [86]:
import os
import random
import string

In [100]:
temp_path = 'D:\\demo\\GasMeterNumber\\images\\train'

In [88]:
''.join(random.sample(string.ascii_letters, 8))

'VYiGnzWH'

In [97]:
import glob

In [102]:
time_list = [os.path.getctime(i) for i in glob.glob(temp_path + '\\*')]

In [105]:
np.diff(np.argsort(time_list))

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)